@import url("https://use.typekit.net/bbf3zdz.css");

* {
    box-sizing: border-box;
}

/* STYLE GUIDE STYLING */

body {
    margin: 0;
    font-family: aktiv-grotesk, BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

section {
    padding: 5rem 2.5rem;
    border-bottom: 1px solid #ddd;
}

section:nth-child(2n) {
    background: #fafafb;
}

header {
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

header nav ul {
    padding: 0;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

aside {
    height: 100%;
    padding: 2.5rem 1.5rem;
    background: #f5f5f5;
    width: inherit;
    border-right: 1px solid #ddd;
}

aside nav { 
    position: fixed;
    max-width: 100%;
}

aside .secondary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside .secondary-nav > ul > li > ul {
    margin: 1rem 0 2.5rem 0;
}

aside .secondary-nav > ul > li > ul > li {
    margin: 0 0 1rem 0;
}

nav ul li:first-child {
    margin-left: 0;
}

nav a {
    text-decoration: none;
}

a {
    color: #69e;
}

a:hover {
    color: #4D80D5;
}

a.button {
    padding: 0.75rem 1rem;
    background: #69e;
    border: 2px solid #69e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 1rem;
}

a.button.ghost {
    background: transparent;
    color: #69e;
}

a.button:hover, a.button:focus {
    box-shadow: 0 2px 10px 1px rgb(160,198,255);
    background: #4D80D5;
    border-color: #4D80D5;
}

a.button.ghost:hover, a.button.ghost:focus {
    color: #fff;
    background: #69e;
    border-color: #69e;
}

input, textarea, select {
    border-radius: 4px;
    box-shadow: none;
    border: 2px solid #ddd;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    font-size: 1em;
    display: block;
    font-family: aktiv-grotesk, BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

input::placeholder, textarea::placeholder {
    font-weight: 100;
    color: #ddd;
}

input[type="text"], textarea, select {
    padding: 0.5rem 0.75rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 2px solid #69e;
}

input[type="submit"] {
    background: #69e;
    color: #fff;
    border-color: #69e;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    box-shadow: 0 2px 10px 1px rgb(160,198,255);
    background: #4D80D5;
    border-color: #4D80D5;
}

label {
    margin-bottom: 0.25rem;
    font-size: 0.9em;
}


p {
    max-width: 36em;
    line-height: 1.5;
}

h1.page-title {
    margin: 2.5rem;
}

img {
    max-width: 100%;
}

section > h2 {
    margin: 0;
    text-decoration: underline;
}

section#headings .element-demo h1 {
    font-size: 2rem;
}

h3.heading-example, h3.heading-code, h3.heading-description {
    margin-top: 3rem;
}

.element-code {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    background: #fff;
}

.color-item {
    text-align: center;
}

.spacer h2 {
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 0.75rem;
}

#colors figure {
    margin: 0;
}

#colors {
    background: #fff;
}

#citations ul li {
    word-wrap: break-word;
    max-width: 100%;
}

pre {
    margin: 0;
    overflow: auto;
}

/* MAIN NAV SECTION */

nav.main-nav {
    background: #F5F9FF;
    padding: 1rem;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

nav.main-nav .center {
    text-align: center;
}

nav.main-nav .right {
    text-align: right;
    font-size: 1.25rem;
}

nav.main-nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.main-nav ul li {
    display: inline-block;
    height: 100%;
    padding: 0.75rem 1rem 0 1rem;
}

nav.main-nav img.logo {
    margin-top: -0.1rem;
}

/* SINGLE PRODUCT VIEW */

.product-overview {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
}

.image-gallery {
    grid-column: 1 / 7;
    text-align: center;
    row-gap: 1rem;
}

.image-gallery .image-thumbnails img {
    border-radius: 4px;
}

.image-thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.product-info-right {
    grid-column: 8 / 12;
    margin-top: 2rem;
}

h1.product-title {
    font-size: 1.75rem;
    margin: 2rem 0;
    font-weight: 400;
}

.product-details h2.price {
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.product-details a.button {
    display: block;
    font-size: 1rem;
    max-width: 17.5rem;
    margin: 1rem 0;
}

.product-details .reviews-overview {
    margin: 1rem 0;
}

.product-details .reviews-overview ion-icon {
    color: #FEDE00;
    display: inline-block;
}

.product-details .reviews-overview p.review-count {
    display: inline-block;
    margin: 0 0.5rem;
    vertical-align: top;
    font-size: 0.75rem;
}

.shipping-details {
    margin: 2rem 0;
}

.shipping-details h3 {
    font-weight: 400;
}

.shipping-details p {
    max-width: 17.5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.features-small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.features-small .feature {
    text-align: center;
}

.features-small .feature .feature-icon {
    font-size: 1.5rem;
}

.features-small .feature .feature-text {
    font-size: 0.8rem;
}

/* GRID SECTION */

#grid .grid-container {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 1rem;
    column-gap: 1rem;
}

#grid .grid-container.twelve {
    grid-template-columns: repeat(12, 1fr);
}

#grid .grid-container.six {
    grid-template-columns: repeat(6, 1fr);
}

#grid .grid-container.four {
    grid-template-columns: repeat(4, 1fr);
}

#grid .grid-container.three {
    grid-template-columns: repeat(3, 1fr);
}

#grid .grid-container.two {
    grid-template-columns: repeat(2, 1fr);
}

#grid .grid-container.one {
    grid-template-columns: 1fr;
}

#grid .grid-element {
    background: #69e;
    margin-bottom: 1rem;
}

/* PRODUCT REVIEW FORM */

.review-form {
    background: #F5F9FF;
    padding: 2rem;
    width: 40rem;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 10px 1px rgba(160,198,255, 0.5);
}

.review-form h2 {
    margin-top: 0;
    font-weight: 400;
}

.review-form .input-group {
    max-width: 100%;
    margin: 1.5rem 0;
}

.review-form .input-group p {
    margin-top: 0;
}

.review-form input, textarea {
    width: 100%;
    max-width: 100%;
}

.review-form input[type="radio"] {
    width: auto;
    display: inline-block;
}

.review-form-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.review-form .rating-cluster {
    color: #FEDE00;
    font-size: 1.25rem;
    cursor: pointer;
}

/* FOOTER */
.footer{
    display: grid;
    grid-template-columns: repeat(4, 2fr) 4fr;
}

.footer .contact-us{

}

.footer ul{
    list-style: none;
}

/* REVIEW CAROUSEL */

.review-carousel {
    margin: 0 auto;
    width: 80em;
    max-width: 100%;
    position: relative;
}

.review-element {
    font-size: 0.6em;
    border-radius: 4px;
    display: inline-block;
    width: 40em;
    max-width: 100%;
    background: #F5F9FF;
    opacity: 0.6;
    padding: 2rem;
    box-shadow: 0 2px 10px 1px rgba(160,198,255, 0.5);
    z-index: 1;
}

.review-element:not(.active):first-child {
    float: left;
}

.review-element:not(.active):last-child {
    float: right;
}

.review-element.active {
    font-size: 0.8em;
    opacity: 1;
    z-index: 10;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -2em;
}

h2.review-heading {
    margin-top: 0;
}

p.review-body {
    line-height: 1.5;

}

.review-info {
    float: right;
}

h3.review-info-name {
    margin: 0;
}

p.review-info-description {
    margin: 0;
}

.review-info-text {
    display: inline-block;
}

img.review-info-image {
    max-width: 2.5em;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0 2px 10px 1px rgba(160,198,255, 0.5);
    margin-right: 0.8em;
}

/* CHECKOUT MODULE */

.checkout-grid {
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 3em;
}

.checkout-form .form-row {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr;
}

.checkout-form .form-row.half {
    grid-template-columns: 1fr 1fr;
}

.checkout-form .form-row.thirds {
    grid-template-columns: 1fr 1fr 1fr;
}

.checkout-form .input-group input, .checkout-form .input-group select {
    width: 100%;
}

.checkout-form .input-group {
    margin-bottom: 2em;
}

.checkout-summary {
    font-size: 0.9em;
    border-radius: 4px;
    display: block;
    background: #F5F9FF;
    padding: 2rem;
    box-shadow: 0 2px 10px 1px rgba(160,198,255, 0.5);
    height: 27.5em;
}

.checkout-summary h2 {
    margin: 0;
    font-weight: 300;
}

.checkout-summary a.button {
    display: block;
    width: 100%;
}

.checkout-summary ul.checkout-list {
    margin: 2em 0;
    padding: 0;
    list-style: none;
}

.checkout-summary ul.checkout-list li.checkout-item {
    display: grid;
    grid-template-columns: 8fr 2fr;
    padding: 0.75em 0;
}

.checkout-summary ul.checkout-list li.checkout-item.total {
    border-top: 1px solid #333;
    margin-top: 0.5em;
    padding: 1.5em 0 0 0;
}

.checkout-summary ul.checkout-list li.checkout-item .checkout-item-price {
    text-align: right;
}

/* MEDIA QUERIES */

@media  all and (max-width: 1300px) {
    aside nav {
        position: relative;
    }
    .spacer h2 {
        margin-left: 0;
    }
}

@media  all and (max-width: 1050px) {
    .review-element:not(.active){
        display: none;
    }
    .review-element.active {
        position: relative;
        margin: 0 auto;
    }
}

@media  all and (max-width: 850px) {
    aside nav.secondary-nav > ul > li {
        display: inline-block;
        width: 40%;
    }
    aside .secondary-nav > ul > li > ul {
        margin: 1rem 0 2.5rem 0;
    }
    .main-navbar ul li {
        margin-bottom: 3rem;
        text-align: center;
    }
    
}

